



h1{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 55px;
    line-height: 125%;
    color: #FFFFFF;
}
h2{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
}

h3{
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;

}

p{
    font-weight: 300;
    font-size: 15px;
    line-height: 160%;
    color: rgba(255, 255, 255, 0.50);

}
.section-margin{
    margin-top: 100px;
}


.name-scroll-menu{
    color: rgba(101, 212, 212, 1);
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    display: block;
    margin-bottom: 15px;
}


.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.02)),
    radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid rgba(255, 255, 255, 0.6);

    width: max-content;
    border-radius: 50px;
    position: relative;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    padding: 15px 30px;
    white-space: nowrap;
}
.btn:hover{
    opacity: 0.7;

}

/*============-global-style-end-==========*/










.quickly-main{
    padding-top: 132px;
    width: 100%;
    padding-bottom: 184px;

}
.quickly-main .container{
    position: relative;
}


.quickly-flex{
    gap: 30px;
    position: relative;
    z-index: 2;
}


.quickly-info{
    max-width: 535px;
    width: 100%;
}

.quickly-info p{
    max-width: 425px;
    width: 100%;
    margin-top: 20px;
}
.quickly-info  .btn-arrow{
    margin-top: 40px;
}

.btn-arrow{
    padding: 14px 42px 13px 20px;
    gap: 8px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    position: relative;
}
.btn-arrow:after{
    content: '';
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 7px;
    height: 7px;
    border-top: 1.5px solid rgba(0, 0, 0, 1);
    border-right: 1.5px solid rgba(0, 0, 0, 1);
}

.btn-arrow:hover{
    opacity: 0.7;
}




.quickly-photo{
    width: 100%;
    position: absolute;
    top: 69px;
    left: 0;
}
.quickly-photo img{
    width: 100%;
}

.quickly-col{
    max-width: 395px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
}

.quickly-box:nth-child(1){
    padding-bottom: 22px;

}
.quickly-box:nth-child(2){
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01)),
    radial-gradient(39.57% 89.06% at 68.1% 52.42%, rgba(101, 212, 212, 0.35) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1px solid rgba(101, 212, 212, 0.1);
    max-width: 345px;
    width: 100%;
    padding: 22.5px 15px;
    border-radius: 18px;
    display: flex;
    justify-content: flex-end;

}
.quickly-box:nth-child(3){
    border-bottom: 1px solid rgba(245, 192, 148, 0.15);
    background: radial-gradient(26.96% 60.63% at 26.07% 88.71%, rgba(172, 94, 46, 0.25) 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    max-width: 305px;
    width: 100%;
    height: 93px;
    padding: 22.5px 15px 22.5px 20px;
    border-radius: 18px;

}
.quickly-href{
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: max-content;
    padding: 9px 18px 9px 9px;
    gap: 12px;
    opacity: 1;
    border-radius: 12px;

}
.editing-name{
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}
.quickly-icon{
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    width: 30px;
    height: 30px;
    gap: 15px;
    border-radius: 7.5px;
    padding: 6px;
}


.icon-formats{
    content: url("../img/icon-formats.svg");
}

.icon-pdf{
    content: url("../img/icon-pdf.svg");
}
.icon-merging{
    content: url("../img/icon-merging.svg");
}






.advantages-hed{
    gap: 20px;
}
.advantages-title{
    max-width: 650px;
    width: 100%;
}

.advantages-box{
    margin-top: 40px;
    width: 100%;

    padding-right: 45px;
    padding-left: 70px;
    gap: 35px;
    border-radius: 30px;
    justify-content: space-between;
    position: relative;
}
.advantages-box:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/advant-fon.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    z-index: 2;
}

.advantages-users{
    max-width: 386px;
    width: 100%;
    position: relative;
    z-index: 4;
    display: flex;
}

.advantages-users strong{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 75px;
    line-height: 100%;
    color: rgba(235, 235, 235, 0.7);
    background: linear-gradient(180deg, #65D4D4 0%, #454B5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-variant-numeric: lining-nums;
}



.our-users-rel{
    max-width: 450px;
    width: 100%;
    position: relative;

    z-index: 4;
}



.users-slider{
    height: 426px;
}
.users-slider .swiper-slide{
    opacity: 0.20;
    transition: 0.3s;
}
.users-slider .swiper-slide-prev, .users-slider .swiper-slide-next{
    opacity: 1;

}

.users-slider  .swiper-slide-active{
    opacity: 1;
}
.advantages-liners{
    position: relative;
    z-index: 3;
}
.lines-cont-mobile{
    display: none;
}
.our-users-box{
    gap: 10px;

}
.our-users-box img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


.our-users-info{
    max-width: 376px;
    width: 100%;
}

.users-data{
    margin-top: 3px;
    gap: 10px;
}
.our-users-info h4{
    font-weight: 364;
    font-size: 15px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.users-data p{
    color: rgba(255, 255, 255, 0.50);
    font-weight: 364;
    font-size: 12px;
    line-height: 100%;
}
.users-icon{
    background: rgba(101, 212, 212, 1);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 3px;
}

.icon-stars{
    content: url("../img/icon-stars.svg");
}

.users-slider .swiper-slide{
    display: flex;
    align-items: center;
}




.efficiently-flex{
    gap: 30px;
    margin-top: 30px;
}

.efficiently-photo{
    width: 50%;
    position: relative;
    display: flex;
}
.efficiently-photo img{
    width: 100%;
    border-radius: 30px;
}
.efficiently-photo p{
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 305px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding: 40px 20px;
}

.efficiently-photo p b{
    color: #ffffff;
}



.our-clients-info{
    max-width: 500px;
    width: 100%;
}
.our-clients-title p{
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.70);
}

.our-clients-col{
    margin-top: 46px;
    gap: 25px;
    align-items: flex-start;

}

.our-clients-name{
    max-width: 235px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.our-clients-name img{
    width: 24px;
}


.our-clients-photo{
    margin-left: -130px;
}

.tools-work-wrap{
    margin-top: 40px;
    gap: 20px;
}
.tools-work-box{
    width: calc(33.333333% - 15px);
    height: 315px;
    opacity: 1;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-image: url("../img/tools-fon.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tools-work-box img{
    width: 60px;
}

.tools-work-title p{
    margin-top: 12px;
    max-width: 270px;
    width: 100%;
}

.arrow-href{
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8.01px 16.01px 0px rgba(255, 255, 255, 0.15);
    width: 38px;
    height: 38px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.arrow-href:after {
    content: '';
    position: absolute;
    left: 43%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(28, 27, 31, 1);
    border-right: 2px solid rgba(28, 27, 31, 1);
}
.arrow-href:hover{
    opacity: 0.7;
}
.tools-work-hed .advantages-title{
    max-width: 740px;

}





#faq .advantages-title{
    padding-left: 30px;
    margin-left: -30px;
}


.accordion{
    margin-top: 40px;
    margin-left: -30px;

}
.questions-box{
    border-radius: 15px;
    width: 100%;
    position: relative;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);


}
.questions-click{
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 0 20px 30px;

}


.questions-click h3{
    line-height: 130%;
}

.open-accordion{
    min-width: 38px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);

    border-radius: 50%;
    box-shadow: 0px 8.01px 16.01px 0px rgba(255, 255, 255, 0.15);

}

.open-accordion:before{
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    transition: 0.3s;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/icon-plus.svg");
}
.open .open-accordion:before{
    transform: rotate(45deg);
}


.submenu-faq{
    display: none;
}
.questions-text{
    padding: 0 20px 10px 30px;

}








.pdf-faster{
    padding-top: 60px;
}
.pdf-faster h2{
    text-align: center;
    font-size: 50px;

}
.pdf-faster p{
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin-top: 15px;
}
.pdf-faster .btn-arrow{
    margin-top: 35px;
}
.pdf-faster img{
    margin-top: 50px;
    max-width: 778px;
    width: 100%;
}





footer{

    padding: 50px 0 60px;
}
.footer-cnt{
    gap: 20px;
    position: relative;
    z-index: 1;
}
.footer-btn{
    gap: 18px;
}


@media (max-width: 1299px){
    h1 {
        font-size: 48px;
        line-height: 114%;
    }
    header {
        top: 20px;
    }
    .pdf-faster h2 {
        font-size: 40px;
    }
    .quickly-box:nth-child(2) {
        padding: 15px 0;
    }
    .quickly-col {
        gap: 20px;
    }






}
@media (max-width: 1199px){
    .advantages-users strong {
        font-size: 50px;
    }
    .advantages-box {
        margin-top: 30px;
        padding-right: 25px;
        padding-left: 30px;
        gap: 25px;
        border-radius: 20px;
    }
    .advantages-users {
        max-width: 297px;
    }
    .users-slider {
        height: 421px;
    }
    h2 {
        font-size: 30px;
    }
    .advantages-title {
        max-width: 540px;
    }
    .section-margin {
        margin-top: 80px;
    }
    .our-clients-title p {
        font-size: 18px;
    }
    .our-clients-photo {
        max-width: 467px;
        width: 100%;
    }
    .tools-work-hed .advantages-title {
        max-width: 585px;
    }
    .tools-work-box {
        height: 300px;
        padding: 20px;
        gap: 20px;
    }


}

@media (max-width: 1020px){
    h1 {
        font-size: 36px;
        line-height: 111%;
    }

    p {
        font-size: 12px;
    }
    .quickly-info p {
        margin-top: 15px;
    }
    .quickly-info .btn-arrow {
        margin-top: 30px;
    }
    .editing-name {
        font-size: 15px;
    }

    .quickly-icon {
        width: 24px;
        height: 24px;
        padding: 4px;
    }
    .quickly-icon i{
        width: 15px;
    }


    .quickly-col {
        max-width: 293px;
    }
    .advantages-box {
        margin-top: 30px;
        padding-right: 0;
        padding-left: 0;
        gap: 10px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        background-position: center;
    }
    .advantages-box:after{
        background-position: center;

    }
    .lines-cont-desc{
        display: none;
    }
    .lines-cont-mobile{
        display: block;
    }
    .advantages-users {
        max-width: 436px;
        padding: 30px 30px 0;
    }

    .users-slider {
        height: 370px;
    }



    .efficiently-photo p {
        max-width: 305px;
        padding: 15px 20px;
        font-size: 15px;
    }
    .efficiently-flex {
        gap: 20px;
        margin-top: 20px;
    }



    .tools-work-box {
        height: 276px;
        padding: 20px;
        gap: 20px;
        width: calc(50% - 15px);
    }
    .section-margin {
        margin-top: 60px;
    }
    .name-scroll-menu {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .accordion {
        margin-left: 0;
    }

    #faq .advantages-title {
        padding-left: 0;
        margin-left: 0;
    }
    .open-accordion {
        min-width: 24px;
        width: 24px;
        height: 24px;
    }
    .questions-click {
        gap: 12px;
        padding: 15px 0 15px 0px;
    }
    h3 {
        font-size: 15px;
    }
    .questions-text {
        padding: 0 0 10px 0;
    }











    .footer-cnt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    footer .logo img{
        width: 20px;
    }
    footer .logo span{
        font-size: 18px;
    }
    footer .menu-scroll {
        flex-direction: column;
        align-items: flex-start;
    }
    footer {
        padding: 40px 0 35px;
    }


}

@media (max-width: 767px){
    .quickly-flex {
        flex-direction: column;
        align-items: center;
    }
    .quickly-col {
        max-width: 100%;
    }
    .quickly-photo {
        top: 169px;
    }
    .quickly-main {
        padding-top: 120px;
        padding-bottom: 0;
    }
    .advantages-hed {
        flex-direction: column;
        align-items: flex-start;
    }
    .efficiently-flex {
        flex-direction: column;
    }
    .efficiently-photo {
        width: 100%;
    }
    .our-clients-flex{
        position: relative;
        flex-direction: column;
        padding-bottom: 49px;
    }
    .our-clients-name {
        max-width: 197px;
        gap: 12px;
    }


    .our-clients-title p {
        font-size: 15px;
    }

    .our-clients-photo {
        max-width: 276px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 120px;
    }
    .our-clients-info{
        position: relative;
        z-index: 3;
    }
    .tools-work-hed{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
    .tools-work-wrap {
        margin-top: 30px;
    }
    .tools-work-box img {
        width: 50px;
    }
    .arrow-href {
        width: 30px;
        height: 30px;
    }

    .arrow-href:after {
        width: 7px;
        height: 7px;
    }
    .tools-work-box {
        height: auto;
        width: 100%;
    }
    #faq h2 {
        font-size: 22px;
    }
    .pdf-faster h2 {
        font-size: 25px;
    }
    .open-accordion:before{
        width: 16px;
        height: 16px;
    }
    .btn-arrow {
        padding: 12px 40px 11px 20px;
        font-size: 12px;
    }
    .btn-arrow:after {
        right: 21px;
        width: 6px;
        height: 6px;
    }

}
@media (max-width: 570px){
    h1 {
        font-size: 29px;
        line-height: 125%;
    }
    h2 {
        font-size: 20px;
    }
    .btn {
        font-size: 12px;
        padding: 12px 20px;
    }
    .our-users-rel {
        padding: 0 20px 10px;
    }
    .our-users-box img {
        width: 28px;
        height: 28px;
    }
    .our-users-info h4 {
        font-size: 12px;
    }
    .our-users-info p {
        font-size: 10px;
    }
    .users-slider {
        height: 343px;
    }
    .our-clients-photo {
        max-width: 258px;
        right: -20px;
        top: 152px;
    }
}